<div class="wrap" style="width: {{ config.wrapperWidth }}; height: {{ config.wrapperHeight }};">
    <iframe id="{{ config.id }}" class="frame" src="{{ config.url }}" style="width: {{ config.iframeWidth }}; height: {{ config.iframeHeight }}; transform: scale({{ config.scale }}); filter: grayscale({{ config.grayscale }});" scrolling="no"></iframe>
    <div class="hide-cursor"></div>
</div>