/*
 *
 * Custom CSS module here
 *
 * */
 
.wrap {
    padding: 0;
    overflow: hidden;
}
.wrap .hide-cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: none;
    z-index: 100;
}
.frame {
    border: 0;
    transform-origin: 0 0;
}